name: Generate PDF

on:
  push:
    branches:
      - main
    paths:
      - "index.html"
      - "style.css"
      - "generate-pdf.js"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Dependencies
        run: npm install

      - name: Generate PDF
        run: node generate-pdf.js

      - name: Commit PDF
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-generate PDF [skip ci]"
          file_pattern: "giuseppe-filomena.pdf"
